<h3> Janus Milan </h3>
<h2> Date Pipe</h2>

<div>
Today's date :- {{presentDate}}
</div>
<div>
Today's date :- {{presentDate | date}}
</div>
<div>
This is a short date :- {{presentDate | date: 'shortDate' }} <br/>
This lien shows the full date :- {{presentDate | date: 'fullDate' }} <br/>
This will show a formatted date:- {{presentDate | date: 'M/dd//yyyy'}} <br/>
This indicates the hours and minutes:- {{presentDate | date:'h;mm'}}

<h3> Date Pipes </h3>
</div>
<div>
  Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br/>
  Date with lowercase :- {{presentDate | date:'medium' | lowercase}} <br/>
</div>
<div>
  Seconds changing in Time: {{ today0$ | async | date:'mediumTime' }}
</div>
<h4> 3 Date Pipe Options </h4>

<div>
This is a small time :- {{presentDate | date: 'mediumTime' }} <br/>
This is a medium time :- {{presentDate | date: 'longTime' }} <br/>
This is a long time :- {{presentDate | date: 'fullTime' }} <br/>

